<mat-card>
    <mat-card-title>Exclusão cadastro do Cliente</mat-card-title>
    <form>
        <mat-form-field class="nome">
            <input matInput placeholder="Nome" [value]="cliente.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field class="advogado">
            <input matInput placeholder="Advogado" [value]="cliente.adv" name="Advogado" disabled>
        </mat-form-field>
        <mat-form-field class="atendimento">
            <input matInput placeholder="Atendimento" [value]="cliente.atend" name="atend" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteProduct()" color="warn">
        Deletar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
<div>
    <p class="atenc">ATENÇÃO!</p>
    <p class="exclusao">A Exclusão do cadastro é irreversível confira todos os dados antes de deletar.</p>
</div>
