<mat-card class="home mat-elevation-z3" >
    <mat-card-title class="title">
        Bem Vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema de cadastro de novos clientes
    </mat-card-subtitle>
</mat-card>
<div class="divs">
    <h2>Atendimento 24horas!</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium maiores vel adipisci officia commodi provident inventore sint vitae <br>
    fugiat consequuntur laboriosam, dicta ipsam fugit earum magnam. Explicabo voluptatibus minus harum.<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. In harum corporis odio consequuntur tempora placeat, incidunt quam quidem. <br>
    Maxime ullam necessitatibus et ab officiis aut aliquam corporis accusantium iure aspernatur.<br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt natus ab adipisci dolore tempora quibusdam iusto! Odit porro unde dolores, <br>
    perferendis sint dignissimos labore totam eligendi enim eum accusantium voluptatum.
    </p>
</div>
<a>
    <img class="logofoo mat-elevation-z6" src="assets/img/footerpng.png" alt="">
</a>
